/* added color to background */

html,
body {
  background-color: rgb(209, 238, 248);
}

/* centered heading */

h1,
h3 {
  text-align: center;
}

/* changed btn text color */

#addBtn {
  color: white;
}

/* changed card text color */

.card-text {
  color: rgb(67, 17, 114);
  font-weight: 600;
}

/* changed icon text color on card */

.card-text1 {
  color: rgb(67, 17, 114);
  font-weight: 600;
  /* added pointer to card icon */
  cursor: pointer;
}

/* changed btn color */

.btn {
  background-color: green;
}

/* wanted to put background img on cards & modal but didn't work */

.card {
  background-color: rgb(245, 220, 82);
  /* background-image: url("rainbow buckets.jpg"); */
}

.modal-content {
  background-color: rgb(162, 233, 209);
  /* background-image: url("rainbow buckets.jpg"); */
}

.modal-header {
  background-color: rgb(46, 49, 236);
  color: white;
}
