html,
body {
  background-color: rgb(229, 237, 240);
}

h1,
h3 {
  text-align: center;
}

body > h3 > i {
  color: white;
}

.card-text {
  color: rgb(67, 17, 114);
  font-weight: 600;
}

.vertical-center {
  margin: 0;
  position: absolute;
  bottom: 10%;
  /* left: 50%;
  right: 50%; */
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

table,
td,
th {
  background-color: white;
  break-before: auto;
  break-after: auto;
  border: 2px solid black;
  text-align: center;
  width: 100%;
  height: 70%;
  /* font-family: Arial; */
}

.btn {
  background-color: green;
}

i {
  color: rgb(67, 17, 114);
}
