/* added color to background */

html,
body {
  background-color: rgb(209, 238, 248);
}

/* centered heading & added shadow to text */

h1 {
  text-align: center;
  color: rgb(240, 214, 167);
  font: outline;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

h3 {
  text-align: center;
  color: lightyellow;
  font: outline;
  font-family: "dancing script", cursive;
  text-shadow: 1px 1px 2px brown, 0 0 1em gold, 0 0 0.2em gold;
}

/* changed btn text color */

#addBtn {
  color: white;
}

/* changed card text color */

.card-text {
  color: blue;
  font-weight: 600;
}

/* changed icon text color on card */

.card-text1 {
  color: rgb(67, 17, 114);
  font-weight: 600;
  /* added pointer to card icon */
  cursor: pointer;
}

/* changed btn color */

.btn {
  background-color: green;
}

/* wanted to put background img on cards & modal but didn't work */

.card {
  background-color: rgb(245, 220, 82);
  /* background-image: url("rainbow buckets.jpg"); */
}

.modal-content {
  background-color: rgb(162, 233, 209);
  /* background-image: url("rainbow buckets.jpg"); */
}

.modal-header {
  background-color: rgb(46, 49, 236);
  color: white;
}

.form-control {
  font-size: small;
}
